<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExpenseManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CFBDBEEF1C1AC94C0039E10C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFBDBF031C1AC94D0039E10C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFBDBF0E1C1AC94D0039E10C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
